.active {
    color: black !important;
}

.nav-link.active {
    color: black !important;
}

.nav-link {
    color: white !important;
}
.active>span {
    color: black !important;
}

.text-gray {
    color: darkgrey;
}

.league_standing{
    overflow: scroll;   
}

.bg-final {
    background-color: darkgoldenrod;
}

.bg-thirdPlace {
    background-color: chocolate;
}

.bg-semi{
    background-color: cornsilk;    
}